<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzu.hezhifeng.dao.ProjectDetailsDAO">
    <sql id="sqlWhereCondition">
        WHERE 1 = 1
        <if test="param.id != null">
            AND id = #{param.id}
        </if>
        <if test="param.projectId != null">
            AND project_id = #{param.projectId}
        </if>
        <if test="param.projectName">
            AND project_name = #{param.projectName}
        </if>
        <if test="param.key != null">
            AND key = #{param.key}
        </if>
        <if test="param.value != null">
            AND value = #{param.value}
        </if>
    </sql>

    <insert id="insert" keyProperty="data.id" useGeneratedKeys="true">
        insert into project_details (
             ,project_id
             ,project_name
             ,key
             ,value
        )VALUES (
            #{data.projectId},
            #{data.projectName},
            #{data.key},
            #{data.value},
        )
    </insert>
    <update id="update">
        UPDATE project_details
        SET
        gmt_modified = #{data.gmtModified}
        <if test="data.projectId != null">
            ,project_id = #{data.projectId}
        </if>
        <if test="data.projectName != null">
            ,project_name = #{data.projectName}
        </if>
        <if test="data.key != null">
            ,key = #{data.key}
        </if>
        <if test="data.value != null">
            ,value = #{data.value}
        </if>
        where
        id = #{data.id}
    </update>
    <select id="list" resultType="com.zzu.hezhifeng.pojo.DO.ProjectDetailsDO">
        SELECT *
        FROM project_details
        <include refid="sqlWhereCondition"/>
        order by id
    </select>
    <delete id="delete">
        delete from project_details
        where id = #{data.id}
    </delete>
    <select id="count" resultType="long">
        select COUNT(1)
        FROM project_details
        <include refid="sqlWhereCondition"/>
    </select>
</mapper>