<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzu.hezhifeng.dao.ProjectRecordDAO">
    <sql id="sqlWhereCondition">
        WHERE 1 = 1
        <if test="param.projectId != null">
            AND project_id = #{param.projectId}
        </if>
        <if test="param.listenIp != null">
            AND listen_ip = #{param.listenIp}
        </if>
        <if test="param.listenKey">
            AND listen_key = #{param.listenKey}
        </if>
        <if test="param.matchValue != null">
            AND match_value = #{param.matchValue}
        </if>
        <if test="param.targetIp != null">
            AND target_ip = #{param.targetIp}
        </if>
        <if test="param.targetPort != null">
            AND target_port = #{param.targetPort}
        </if>
        <if test="param.detail != null">
            AND detail = #{param.detail}
        </if>
    </sql>

    <insert id="insert" keyProperty="data.id" useGeneratedKeys="true">
        insert into project_record (
            gmt_create,
             project_id,
             listen_ip,
             listen_key,
             match_value,
             target_ip,
             target_port,
             detail
        )VALUES (
                 #{data.gmtCreate},
            #{data.projectId},
            #{data.listenIp},
            #{data.listenKey},
            #{data.matchValue},
            #{data.targetIp},
            #{data.targetPort},
            #{data.detail}
        )
    </insert>
    <update id="update">
        UPDATE project_record
        SET
        gmt_modified = #{data.gmtModified}
        <if test="data.listenIp != null">
            , listen_ip = #{data.listenIp}
        </if>
        <if test="data.listenKey != null">
            , listen_key = #{data.listenKey}
        </if>
        <if test="data.matchValue != null">
            , match_value = #{data.matchValue}
        </if>
        <if test="data.targetIp != null">
            , target_ip = #{data.targetIp}
        </if>
        <if test="data.targetPort != null">
            , target_port = #{data.targetPort}
        </if>
        <if test="data.detail != null">
            , detail = #{data.detail}
        </if>
        where
        id = #{data.id}
    </update>
    <select id="list" resultType="com.zzu.hezhifeng.pojo.DO.ProjectRecordDO">
        SELECT *
        FROM project_record
        <include refid="sqlWhereCondition"/>
        order by id
    </select>
    <delete id="delete">
        delete from project_record
        where id = #{data.id}
    </delete>
    <select id="count" resultType="long">
        select COUNT(1)
        FROM project_record
        <include refid="sqlWhereCondition"/>
    </select>
</mapper>